<!--banner-->
<div class="banner-bg">
  <!--Navigation Bar-->
  <div class="navbar-fixed" ng-hide="view == 'login'">
    <nav>
      <div class="nav-wrapper">
        <a href class="brand-logo center"><img src="images/logo.png" alt="Logo" width="113" height="48"></a>
        <a href class="nav-menu right" style="margin-top:0px"><img src="images/nav_menu.png" alt="Menu Buttom" width="62" height="33"></a>
      </div>
    </nav>
  </div>
  <!--/Navigation Bar-->
  <!--Body Container-->
  <div class="container">

      <div class="row">
        <div class="col s12 m12">
          <!--Main_card-->
          <div class="card large">
            <div class="card-image">
              <img src="images/post_banner.jpg">
              <div class="card-button">
                <a href ng-click="addPostModal()" class="give-button"><img src="images/give_community_button.png" alt="GiveButton" width="386" height="63"></a>
              </div>
            </div>
          </div>
          <!--/Main_card-->
          <!--content_card-->
          <div class="card-post large" ng-repeat="post in posts" ng-click="postDetail($index);getDistance(user.pos, post.pos)" style="cursor:pointer">
            <div class="card white">
              <!--left-block-->
              <div class="left-block">
                <img src="images/bicycle.jpg">
                </div>
                <!--/left-block-->
                <!--right-block-->
                <div class="right-block">
                  <div class="right-block-top">
                    <span class="card-title black-text">{{post.title}}</span>
                    <div class="location-text-box" >
                    <span class="location-text black-text"></span>
                  </div>
                    <div class="location">
                      <img src="images/location.png">
                  </div>
                    <div class="time-box">
                      <span class="time-text black-text">55Min ago</span>
                  </div>
                    <div class="time">
                      <img src="images/time.png">
                    </div>
                    <div class="right-block-middle black-text">
                      <span class="card-description black-text">{{post.description}}</span>
                    </div>
                    <div class="right-block-bottom">
                      <div class="message_notif-box">
                        <span class="message_notif-text grey-text">23</span>
                      </div>
                      <div class="message_notif">
                        <img src="images/message_notif.png">
                      </div>
                      <div class="post_modals">
                    <img src="images/pop_out_green.png">
                </div>
                </div>
                  </div>
                  </div>
                  <!--right-block-->
              </div>
            </div>
          <!--/content_card-->
        </div>
      </div>

  </div>

  <!--Body Container-->
  <div id="post-detail" class="modal">
  <div class="card large">
    <div class="modal-top-block">
      <div class="modal-topleft-block">
        <img src="images/cry.jpg">
      </div>
        <div class="modal-topright-block">
          <div class="right-block-top">
            <span class="card-title white-text">{{posts[selectedIndex].title}}</span>
            <div class="location-text-box" ng-hide="distance == 0">
            <span class="location-text white-text">{{distance}}</span>
          </div>
            <div class="location">
              <img src="images/location.png">
          </div>
            <div class="time-box">
              <span class="time-text white-text">55Min ago</span>
          </div>
            <div class="time">
              <img src="images/time.png">
            </div>
            <div class="right-block-middle">
              <span class="card-description white-text">Shared publicly.</span>
            </div>
            <div class="right-block-bottom">
              <div class="message_notif-box">
                <span class="message_notif-text grey-text">23</span>
              </div>
              <div class="message_notif">
                <img src="images/message_notif.png">
              </div>
              <div class="post_modals">
            <img src="images/pop_out_green.png">
        </div>
        </div>
          </div>
        </div>
    </div>
    <div class="modal-middle-block">
      <div class="modal-header">
        <span class="card-title black-text">{{posts[selectedIndex].title}}</span>
      </div>
      <div class="modal-description">
        <span class="card-description black-text">{{posts[selectedIndex].description}}</span>
      </div>
      <div class="post-image">
        <img src="images/display_image.jpg">
      </div>
    </div>
    <div class="modal-bottom-block">
      <div class="modal-comment-field">
        <div class="modal-comment-icon">
          <img src="images/write_icon.png">
        </div>
      </div>
      <div class="modal-bottom-count">
        <div class="modal-bottom-countleft">
          <div class="mbcl-image">
            <img src="images/mbc_image.png">
          </div>
        </div>
        <div class="modal-bottom-countright">
          <div class="mbcr-image">
            <img src="images/mbc_image.png">
          </div>
        </div>
      </div>
      <div class="modal-bottom-buttons">
        <div class="modal-participate-button">
          <img src="images/participate_button.png">
      </div>
      <div class="modal-donate-button">
        <img src="images/donate_button.png">
    </div>
    </div>
</div>
</div>
</div><!--modal post detail -->

<div id="add-post" class="modal">
    <div class="modal-content">
      <h4>add post</h4>
      <p>A bunch of text</p>
      <ul>
      <li><input type="text" ng-model="post.title"/></li>
      <li><input type="text" ng-model="post.description"></li>
      <li><input type="text" ng-model="post.location"
        id="address" placeholder="Enter your address"
            onFocus="geolocate()"></li>
      <li><a ng-click="addPost(post)" class="waves-effect waves-light btn">post</a></li>
    </ul>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
</div>
<!--/banner-->
